{% extends 'base.html' %}




{% block header %}
    <!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-center">
                {% if form.errors %}
                <h4 class="text-white">Votre nom d'utilisateur ou votre mot de passe est incorrect. Veuillez réessayer</h4>
                {% endif %}
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 align-items-center justify-content-center">
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <label for="fromlogin" class="text-primary"><h4>Identifiant</h4></label>
                <input type="text" autocomplete="off" name="username" class="form-control" placeholder="exemple@exemple.fr">
                
                <label for="fromlogin" class="text-primary mt-2"><h4>Password</h4></label>
                <input type="password" name="password" class="form-control" placeholder="Mot de passe">
                
                {% if request.GET.next %}
                    <input type="hidden" name="next" value="{{ request.GET.next }}">
                {% endif %}

                <button type="submit" value="{{ request.GET.index }}" class="btn btn-primary mt-2" name="validate">Valider</button>         
            </form>
            <h4><a href="{% url 'signup' %}">Pas encore inscrit?</a></h4>
        </div>
    </div>    
</header>
{% endblock header %}