.img_w50 {
    width: 50px;
    margin: 5px;
}

.img_nutriscore {
    width: 80px;
    position: absolute;
    top: -30px;
    right: -30px;
}

.img_product {
    height: 14rem;
}

.bg_img_product {
    height: 16rem;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}
