{% extends 'base.html' %}

{% block header %}
    <!-- Masthead-->
    <header class="masthead">
        <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-8 align-self-end">
                    <h1 class="text-white font-weight-bold">Du gras, oui, mais de qualité!</h1>
                    <hr class="divider" />
                    <h2>Trouvez un produit de substitution pour ceux que vous consommez tous les jours.</h2>
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <form class="input-group mb-3" method="GET" action="search_product">
                        <input type="text" name="query" class="form-control" placeholder="Rechercher..." aria-label="Search" id="query">
                        <button class="btn btn-primary" type="submit">Chercher</button>
                    </form>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}