{% extends 'base.html' %}

{% block header %}
    <!-- Masthead-->
    <header class="masthead">
        <div class="container px-4 px-lg-5 h-100">
            <h1 class="text-center text-primary mt-5">Mentions légales</h1>
            <div class="row gx-4 gx-lg-5 h-100 justify-content-center text-center">
                <div class="col-lg-8 align-self-center">
                    <div>API : <a href="https://fr.openfoodfacts.org/">OpenFoodFacts</a></div>
                    <div>Carrot Icons by Fabien Jouin from <a href="https://thenounproject.com/">The Noun Project</a></div>
                    <div>Photo by : <a href="https://unsplash.com/@kawin?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Kawin Harasai</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></div>
                    <div>Login/Logout/Account/floppy-disk Icons by : <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/fr/" title="Flaticon">www.flaticon.com</a></div>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}

{% block content %}
{% endblock content %}

