{% extends 'base.html' %}

{% block header %}
    <!-- Masthead-->
    <header class="product">
        <div class="section">
            <div class="container-fluid bg-dark">
                <div class="container-fluid bg_img_product" style="background-image: url({{product.image}});">
                    <div class="row justify-content-center">
                        <div class="col-lg-auto text-center">
                            <h3 class="mt-5 text-white bg-dark">[ {{ product.product_name }} ]</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <div class="container-fluid justify-content-center mb-5">
                <div class="row justify-content-around">
                    <div class="col-lg-4">
                        <div class="text-center">
                            <h3 class="text-primary">Nutriscore</h3>
                            <img src="static/assets/img/nutriscore/nutri-score-{{product.nutriscore}}.png" alt="nutriscore">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row justify-content-center">
                            <h3 class="text-center text-primary">Repères nutritionnels pour 100 grammes</h3>
                        </div>
                        <div class="row row-cols-2 justify-content-center">
                            <div class="col col-md-4 col-lg-6 text-center text-white">Protéines : {{ product.proteins_100g }}</div>
                            <div class="col col-md-4 col-lg-6 text-center text-white">Energie : {{ product.energy_100g }}</div>
                        </div>
                        <div class="row row-cols-2 justify-content-center">
                            <div class="col col-md-4 col-lg-6 text-center text-white">Matières grasses : {{ product.fat_100g }}</div>
                            <div class="col col-md-4 col-lg-6 text-center text-white">Fibres : {{ product.fiber_100g }}</div>
                        </div>
                        <div class="row row-cols-2 justify-content-center">
                            <div class="col col-md-4 col-lg-6 text-center text-white">Glucides : {{ product.carbohydrates_100g }}</div>
                            <div class="col col-md-4 col-lg-6 text-center text-white">Sel : {{ product.salt_100g }}</div>
                        </div>
                        <div class="row row-cols-2 justify-content-center">
                            <div class="col col-md-4 col-lg-6 text-center text-white">Gras saturés : {{ product.saturated_fat_100g }}</div>
                            <div class="col col-md-4 col-lg-6 text-center text-white">Sucre : {{ product.sugars_100g }}</div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col text-center">
                        <a href="{{ product.url }}" class="btn btn-primary">Voir la fiche d'OpenFoodFacts</a>
                        <a href="{% url 'myfood' %}" class="btn btn-primary">Retourner à mes aliments</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}

{% block content %}
{% endblock content %}